* text=auto !eol
/.cdtproject -text
/.cproject -text
.externalToolBuilders/org.eclipse.cdt.make.core.ScannerConfigBuilder[!!-~](1).launch -text
/.project -text
.settings/org.eclipse.cdt.core.prefs -text
.settings/org.eclipse.ltk.core.refactoring.prefs -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
bin/idlc -text
bin/idlc.bat -text
bin/idlc.jar -text
build/unix/Makefile -text
build/unix/confSFqHD2/config.h -text
build/unix/confSFqHD2/defines.awk -text
build/unix/confSFqHD2/subs.awk -text
build/unix/confSFqHD2/subs1.awk -text
build/unix/config.h -text
build/unix/config.status -text
build/unix/config/config.guess -text
build/unix/config/config.h.in -text
build/unix/config/config.sub -text
build/unix/config/depcomp -text
build/unix/config/install-sh -text
build/unix/config/missing -text
build/unix/install -text
build/unix/stamp-h1 -text
build/win32/engine3.sln -text
build/win32/engine3.suo -text
build/win32/engine3.vcproj -text
build/win32/exclude.lst -text
build/win32/install.bat -text
conf/filter -text
/config.guess -text
/config.h.in -text
/config.sub -text
/configure -text
/configure.ac -text
doc/Doxyfile -text
external/pthreads-w32/include/pthread.h -text
external/pthreads-w32/include/sched.h -text
external/pthreads-w32/include/semaphore.h -text
external/pthreads-w32/lib/pthreadVC2.lib -text
external/zlib/include/zconf.h -text
external/zlib/include/zlib.h -text
external/zlib/lib/zlib1.lib -text
include/engine/core/Core.h -text
include/engine/core/ManagedObject.cpp -text
include/engine/core/ManagedObject.h -text
include/engine/core/ManagedObject.idl -text
include/engine/core/ManagedObjectImplementation.h -text
include/engine/core/ManagedReference.h -text
include/engine/core/ManagedWeakReference.h -text
include/engine/core/ObjectUpdateToDatabaseTask.h -text
include/engine/core/ReentrantTask.h -text
include/engine/core/Task.h -text
include/engine/core/TaskManager.h -text
include/engine/core/TaskPriorityQueue.h -text
include/engine/core/TaskQueue.h -text
include/engine/core/TaskScheduler.h -text
include/engine/core/TaskWorkerThread.h -text
include/engine/core/TimedTaskQueue.h -text
include/engine/core/thread/RWLockable.h -text
include/engine/core/thread/RWLockableImplementation.h -text
include/engine/core/util/ManagedSortedVector.h -text
include/engine/core/util/ManagedVector.h -text
include/engine/core/util/ManagedVectorImplementation.h -text
include/engine/core/util/ManagedVectorMap.h -text
include/engine/db/BinaryData.h -text
include/engine/db/Database.h -text
include/engine/db/DatabaseException.h -text
include/engine/db/ObjectDatabase.h -text
include/engine/db/ObjectDatabaseManager.h -text
include/engine/db/ResultSet.h -text
include/engine/db/berkley/BerkeleyDatabase.h -text
include/engine/db/berkley/CheckpointConfig.h -text
include/engine/db/berkley/Cursor.h -text
include/engine/db/berkley/CursorConfig.h -text
include/engine/db/berkley/DatabaseConfig.h -text
include/engine/db/berkley/DatabaseEntry.h -text
include/engine/db/berkley/Environment.h -text
include/engine/db/berkley/EnvironmentConfig.h -text
include/engine/db/berkley/Transaction.h -text
include/engine/db/berkley/TransactionConfig.h -text
include/engine/db/mysql/BinaryData.h -text
include/engine/db/mysql/MySqlDatabase.h -text
include/engine/db/mysql/ResultSet.h -text
include/engine/db/mysql/Row.h -text
include/engine/db/mysql/Statement.h -text
include/engine/engine.h -text
include/engine/log/Logger.h -text
include/engine/lua/Lua.h -text
include/engine/lua/LuaFunction.h -text
include/engine/lua/LuaObject.h -text
include/engine/lua/Luna.h -text
include/engine/lua/Lunar.h -text
include/engine/orb/DOBObjectManager.h -text
include/engine/orb/DOBObjectManagerImplementation.h -text
include/engine/orb/DOBPacketHandler.h -text
include/engine/orb/DONamingDirectoryService.h -text
include/engine/orb/DistributedObjectBroker.h -text
include/engine/orb/DistributedObjectBrokerClient.h -text
include/engine/orb/DistributedObjectDirectory.h -text
include/engine/orb/NamingDirectoryService.h -text
include/engine/orb/NamingDirectoryServiceImpl.h -text
include/engine/orb/object/DistributedMethod.h -text
include/engine/orb/object/DistributedObject.h -text
include/engine/orb/object/DistributedObjectAdapter.h -text
include/engine/orb/object/DistributedObjectClassHelper.h -text
include/engine/orb/object/DistributedObjectClassHelperMap.h -text
include/engine/orb/object/DistributedObjectMap.h -text
include/engine/orb/object/DistributedObjectNameMap.h -text
include/engine/orb/object/DistributedObjectServant.h -text
include/engine/orb/object/DistributedObjectStub.h -text
include/engine/orb/object/ObjectNotDeployedException.h -text
include/engine/orb/object/ObjectNotLocalException.h -text
include/engine/orb/packets/AddObjectMessage.h -text
include/engine/orb/packets/DeployObjectMessage.h -text
include/engine/orb/packets/DeployObjectResponseMessage.h -text
include/engine/orb/packets/GetNextFreeObjectIDMessage.h -text
include/engine/orb/packets/GetNextFreeObjectIDResponseMessage.h -text
include/engine/orb/packets/InvokeMethodMessage.h -text
include/engine/orb/packets/LoadPersistentObjectMessage.h -text
include/engine/orb/packets/LookUpObjectMessage.h -text
include/engine/orb/packets/LookUpObjectResponseMessage.h -text
include/engine/orb/packets/MethodReturnMessage.h -text
include/engine/orb/packets/UpdatePersistentObjectMessage.h -text
include/engine/orb/packets/UpdatePersistentObjectResponseMessage.h -text
include/engine/service/DatagramServiceClient.h -text
include/engine/service/DatagramServiceClientProxy.h -text
include/engine/service/DatagramServiceThread.h -text
include/engine/service/Message.h -text
include/engine/service/MessageQueue.h -text
include/engine/service/ServiceClient.h -text
include/engine/service/ServiceClientMap.h -text
include/engine/service/ServiceException.h -text
include/engine/service/ServiceMessageHandlerThread.h -text
include/engine/service/ServiceProcessThread.h -text
include/engine/service/ServiceThread.h -text
include/engine/service/StandaloneMessage.h -text
include/engine/service/StreamServiceClient.h -text
include/engine/service/StreamServiceClientProxy.h -text
include/engine/service/StreamServiceThread.h -text
include/engine/service/proto/AbstractProtocol.h -text
include/engine/service/proto/BaseClient.h -text
include/engine/service/proto/BaseClientProxy.h -text
include/engine/service/proto/BaseFragmentedPacket.h -text
include/engine/service/proto/BaseMessage.h -text
include/engine/service/proto/BaseMultiPacket.h -text
include/engine/service/proto/BasePacket.h -text
include/engine/service/proto/BasePacketHandler.h -text
include/engine/service/proto/BaseProtocol.h -text
include/engine/service/proto/BaseStandaloneMessage.h -text
include/engine/service/proto/PacketHandler.h -text
include/engine/service/proto/StandaloneBaseMessage.h -text
include/engine/service/proto/events/BaseClientCleanupEvent.h -text
include/engine/service/proto/events/BaseClientEvent.h -text
include/engine/service/proto/events/BaseClientNetStatusCheckupEvent.h -text
include/engine/service/proto/events/BaseClientNetStatusRequestEvent.h -text
include/engine/service/proto/events/BasePacketChekupEvent.h -text
include/engine/service/proto/packets/AcknowledgeMessage.h -text
include/engine/service/proto/packets/AcknowledgeOkMessage.h -text
include/engine/service/proto/packets/ConnectionServerMessage.h -text
include/engine/service/proto/packets/DisconnectMessage.h -text
include/engine/service/proto/packets/ErrorMessage.h -text
include/engine/service/proto/packets/LoginServerMessage.h -text
include/engine/service/proto/packets/NetStatusRequestMessage.h -text
include/engine/service/proto/packets/NetStatusResponseMessage.h -text
include/engine/service/proto/packets/OutOfOrderMessage.h -text
include/engine/service/proto/packets/PingMessage.h -text
include/engine/service/proto/packets/SessionIDRequestMessage.h -text
include/engine/service/proto/packets/SessionIDResponseMessage.h -text
include/engine/service/proxy/DatagramProxyClient.h -text
include/engine/service/proxy/DatagramProxyService.h -text
include/engine/service/proxy/DatagramProxyServiceClient.h -text
include/engine/service/proxy/DatagramProxyServiceMap.h -text
include/engine/service/proxy/StreamProxyClient.h -text
include/engine/service/proxy/StreamProxyService.h -text
include/engine/service/proxy/StreamProxyServiceClient.h -text
include/engine/service/proxy/StreamProxyServiceMap.h -text
include/engine/stm/Transaction.h -text
include/engine/stm/TransactionalMemoryManager.h -text
include/engine/stm/TransactionalObject.h -text
include/engine/stm/TransactionalObjectHandle.h -text
include/engine/stm/TransactionalObjectHeader.h -text
include/engine/util/Coordinate.h -text
include/engine/util/ObjectFactory.h -text
include/engine/util/QuadTree.h -text
include/engine/util/QuadTreeEntry.h -text
include/engine/util/Quaternion.h -text
include/engine/util/ResourcePool.h -text
include/engine/util/Singleton.h -text
include/engine/util/Vector3.h -text
include/engine/util/iffstream/IffStream.h -text
include/engine/util/iffstream/chunks/Chunk.h -text
include/engine/util/iffstream/chunks/data/Data.h -text
include/engine/util/iffstream/chunks/form/Form.h -text
include/engine/util/iffstream/exceptions.h -text
include/engine/util/iffstream/exceptions/IffStreamException.h -text
include/engine/util/iffstream/exceptions/InvalidChunkTypeException.h -text
include/engine/util/iffstream/exceptions/InvalidFileTypeException.h -text
include/engine/util/iffstream/exceptions/NoChunksException.h -text
include/engine/util/iffstream/exceptions/NoOpenedChunkException.h -text
include/system/io/BufferedReader.h -text
include/system/io/File.h -text
include/system/io/FileInputStream.h -text
include/system/io/FileNotFoundException.h -text
include/system/io/FileOutputStream.h -text
include/system/io/FileReader.h -text
include/system/io/FileWriter.h -text
include/system/io/IOException.h -text
include/system/io/InputStream.h -text
include/system/io/ObjectInputStream.h -text
include/system/io/ObjectOutputStream.h -text
include/system/io/OutputStream.h -text
include/system/io/PrintStream.h -text
include/system/io/Reader.h -text
include/system/io/Serializable.h -text
include/system/io/Stream.h -text
include/system/io/StreamIndexOutOfBoundsException.h -text
include/system/io/StringTokenizer.h -text
include/system/io/UnicodeTokenizer.h -text
include/system/io/Writer.h -text
include/system/lang.h -text
include/system/lang/ArrayIndexOutOfBoundsException.h -text
include/system/lang/BaseTypeVariable.h -text
include/system/lang/Bool.h -text
include/system/lang/Byte.h -text
include/system/lang/Character.h -text
include/system/lang/DivisionByZeroException.h -text
include/system/lang/Double.h -text
include/system/lang/Exception.h -text
include/system/lang/Float.h -text
include/system/lang/IllegalArgumentException.h -text
include/system/lang/IllegalStateException.h -text
include/system/lang/Integer.h -text
include/system/lang/Long.h -text
include/system/lang/Math.h -text
include/system/lang/NumberFormatException.h -text
include/system/lang/Object.h -text
include/system/lang/OutOfMemoryError.h -text
include/system/lang/Quaternion.h -text
include/system/lang/Reference.h -text
include/system/lang/Runnable.h -text
include/system/lang/Short.h -text
include/system/lang/SignalException.h -text
include/system/lang/StackTrace.h -text
include/system/lang/String.h -text
include/system/lang/StringBuffer.h -text
include/system/lang/System.h -text
include/system/lang/Time.h -text
include/system/lang/UnicodeString.h -text
include/system/lang/Variable.h -text
include/system/lang/Vector3.h -text
include/system/lang/mersenne/MersenneTwister.h -text
include/system/lang/ref/Reference.h -text
include/system/lang/ref/ReferenceCounter.h -text
include/system/lang/ref/ReferenceSlot.h -text
include/system/lang/ref/WeakReference.h -text
include/system/lang/types.h -text
include/system/lang/types/BaseTypeVariable.h -text
include/system/lang/types/Bool.h -text
include/system/lang/types/Byte.h -text
include/system/lang/types/Character.h -text
include/system/lang/types/Double.h -text
include/system/lang/types/Float.h -text
include/system/lang/types/Integer.h -text
include/system/lang/types/Long.h -text
include/system/lang/types/Short.h -text
include/system/lang/types/String.h -text
include/system/lang/types/UnicodeString.h -text
include/system/lang/types/Variable.h -text
include/system/lang/unicode.h -text
include/system/net/InetAddress.h -text
include/system/net/NetworkInterface.h -text
include/system/net/Packet.h -text
include/system/net/PacketIndexOutOfBoundsException.h -text
include/system/net/Socket.h -text
include/system/net/SocketAddress.h -text
include/system/net/SocketException.h -text
include/system/net/TCPServerSocket.h -text
include/system/net/TCPSocket.h -text
include/system/net/UDPServerSocket.h -text
include/system/net/UDPSocket.h -text
include/system/platform.h -text
include/system/thread/Atomic.h -text
include/system/thread/Condition.h -text
include/system/thread/Locaker.h -text
include/system/thread/Lockable.h -text
include/system/thread/Locker.h -text
include/system/thread/Mutex.h -text
include/system/thread/ReadWriteLock.h -text
include/system/thread/Thread.h -text
include/system/thread/ThreadLocal.h -text
include/system/thread/atomic/AtomicInteger.h -text
include/system/thread/atomic/AtomicLong.h -text
include/system/thread/atomic/AtomicReference.h -text
include/system/util/AdvancedBinaryHeap.h -text
include/system/util/ArrayQueue.h -text
include/system/util/BinaryHeap.h -text
include/system/util/BinarySearchTree.h -text
include/system/util/HashSet.h -text
include/system/util/HashTable.h -text
include/system/util/Iterator.h -text
include/system/util/LinkedList.h -text
include/system/util/PriorityQueue.h -text
include/system/util/SerializableHashTable.h -text
include/system/util/SerializableSortedVector.h -text
include/system/util/SerializableVector.h -text
include/system/util/SerializableVectorMap.h -text
include/system/util/SortedVector.h -text
include/system/util/Timer.h -text
include/system/util/Vector.h -text
include/system/util/VectorMap.h -text
/install-sh -text
lib/unix/libengine3.a -text
lib/win32/engine3.lib -text
lib/win32/engine3d.lib -text
src/Makefile.am -text
src/Makefile.in -text
src/engine/core/Core.h -text
src/engine/core/ManagedObject.cpp -text
src/engine/core/ManagedObject.h -text
src/engine/core/ManagedObject.idl -text
src/engine/core/ManagedObjectImplementation.cpp -text
src/engine/core/ManagedReference.h -text
src/engine/core/ManagedWeakReference.h -text
src/engine/core/ObjectUpdateToDatabaseTask.cpp -text
src/engine/core/ObjectUpdateToDatabaseTask.h -text
src/engine/core/ReentrantTask.h -text
src/engine/core/Task.cpp -text
src/engine/core/Task.h -text
src/engine/core/TaskManager.cpp -text
src/engine/core/TaskManager.h -text
src/engine/core/TaskPriorityQueue.h -text
src/engine/core/TaskQueue.cpp -text
src/engine/core/TaskQueue.h -text
src/engine/core/TaskScheduler.cpp -text
src/engine/core/TaskScheduler.h -text
src/engine/core/TaskWorkerThread.cpp -text
src/engine/core/TaskWorkerThread.h -text
src/engine/core/TimedTaskQueue.cpp -text
src/engine/core/TimedTaskQueue.h -text
src/engine/core/util/ManagedSortedVector.h -text
src/engine/core/util/ManagedVector.cpp -text
src/engine/core/util/ManagedVector.h -text
src/engine/core/util/ManagedVector.idl -text
src/engine/core/util/ManagedVectorMap.h -text
src/engine/db/BinaryData.cpp -text
src/engine/db/BinaryData.h -text
src/engine/db/Database.h -text
src/engine/db/DatabaseException.h -text
src/engine/db/ObjectDatabase.cpp -text
src/engine/db/ObjectDatabase.h -text
src/engine/db/ObjectDatabaseManager.cpp -text
src/engine/db/ObjectDatabaseManager.h -text
src/engine/db/ResultSet.h -text
src/engine/db/berkley/BerkeleyDatabase.cpp -text
src/engine/db/berkley/BerkeleyDatabase.h -text
src/engine/db/berkley/CheckpointConfig.h -text
src/engine/db/berkley/Cursor.cpp -text
src/engine/db/berkley/Cursor.h -text
src/engine/db/berkley/CursorConfig.h -text
src/engine/db/berkley/DatabaseConfig.h -text
src/engine/db/berkley/DatabaseEntry.cpp -text
src/engine/db/berkley/DatabaseEntry.h -text
src/engine/db/berkley/Environment.cpp -text
src/engine/db/berkley/Environment.h -text
src/engine/db/berkley/EnvironmentConfig.h -text
src/engine/db/berkley/Transaction.cpp -text
src/engine/db/berkley/Transaction.h -text
src/engine/db/berkley/TransactionConfig.h -text
src/engine/db/mysql/MySqlDatabase.cpp -text
src/engine/db/mysql/MySqlDatabase.h -text
src/engine/db/mysql/ResultSet.h -text
src/engine/db/mysql/Row.h -text
src/engine/db/mysql/Statement.h -text
src/engine/engine.h -text
src/engine/log/Logger.cpp -text
src/engine/log/Logger.h -text
src/engine/lua/Lua.cpp -text
src/engine/lua/Lua.h -text
src/engine/lua/LuaFunction.cpp -text
src/engine/lua/LuaFunction.h -text
src/engine/lua/LuaObject.cpp -text
src/engine/lua/LuaObject.h -text
src/engine/lua/Luna.h -text
src/engine/lua/Lunar.h -text
src/engine/orb/DOBObjectManager.cpp -text
src/engine/orb/DOBObjectManager.h -text
src/engine/orb/DOBObjectManagerImplementation.cpp -text
src/engine/orb/DOBObjectManagerImplementation.h -text
src/engine/orb/DOBPacketHandler.cpp -text
src/engine/orb/DOBPacketHandler.h -text
src/engine/orb/DistributedObjectBroker.cpp -text
src/engine/orb/DistributedObjectBroker.h -text
src/engine/orb/DistributedObjectBrokerClient.cpp -text
src/engine/orb/DistributedObjectBrokerClient.h -text
src/engine/orb/DistributedObjectDirectory.cpp -text
src/engine/orb/DistributedObjectDirectory.h -text
src/engine/orb/NamingDirectoryService.cpp -text
src/engine/orb/NamingDirectoryService.h -text
src/engine/orb/NamingDirectoryServiceImpl.cpp -text
src/engine/orb/NamingDirectoryServiceImpl.h -text
src/engine/orb/object/DistributedMethod.cpp -text
src/engine/orb/object/DistributedMethod.h -text
src/engine/orb/object/DistributedObject.cpp -text
src/engine/orb/object/DistributedObject.h -text
src/engine/orb/object/DistributedObjectAdapter.h -text
src/engine/orb/object/DistributedObjectClassHelper.h -text
src/engine/orb/object/DistributedObjectClassHelperMap.h -text
src/engine/orb/object/DistributedObjectMap.h -text
src/engine/orb/object/DistributedObjectNameMap.h -text
src/engine/orb/object/DistributedObjectServant.cpp -text
src/engine/orb/object/DistributedObjectServant.h -text
src/engine/orb/object/DistributedObjectStub.cpp -text
src/engine/orb/object/DistributedObjectStub.h -text
src/engine/orb/object/ObjectNotDeployedException.h -text
src/engine/orb/object/ObjectNotLocalException.h -text
src/engine/orb/packets/AddObjectMessage.h -text
src/engine/orb/packets/DeployObjectMessage.h -text
src/engine/orb/packets/DeployObjectResponseMessage.h -text
src/engine/orb/packets/GetNextFreeObjectIDMessage.h -text
src/engine/orb/packets/GetNextFreeObjectIDResponseMessage.h -text
src/engine/orb/packets/InvokeMethodMessage.h -text
src/engine/orb/packets/LoadPersistentObjectMessage.h -text
src/engine/orb/packets/LookUpObjectMessage.h -text
src/engine/orb/packets/LookUpObjectResponseMessage.h -text
src/engine/orb/packets/MethodReturnMessage.h -text
src/engine/orb/packets/UpdatePersistentObjectMessage.h -text
src/engine/orb/packets/UpdatePersistentObjectResponseMessage.h -text
src/engine/proto/rudp/BaseClient.cpp -text
src/engine/proto/rudp/BaseClient.h -text
src/engine/proto/rudp/BaseClientProxy.cpp -text
src/engine/proto/rudp/BaseClientProxy.h -text
src/engine/proto/rudp/BaseFragmentedPacket.cpp -text
src/engine/proto/rudp/BaseFragmentedPacket.h -text
src/engine/proto/rudp/BaseMessage.h -text
src/engine/proto/rudp/BaseMultiPacket.cpp -text
src/engine/proto/rudp/BaseMultiPacket.h -text
src/engine/proto/rudp/RUDPFilter.h -text
src/engine/proto/rudp/RUDPPacket.cpp -text
src/engine/proto/rudp/RUDPPacket.h -text
src/engine/proto/rudp/RUPDFilter.cpp -text
src/engine/proto/rudp/StandaloneBaseMessage.h -text
src/engine/proto/rudp/events/BaseClientCleanUpEvent.hpp -text
src/engine/proto/rudp/events/BaseClientCleanupEvent.h -text
src/engine/proto/rudp/events/BaseClientEvent.h -text
src/engine/proto/rudp/events/BaseClientNetStatusCheckupEvent.h -text
src/engine/proto/rudp/events/BaseClientNetStatusRequestEvent.h -text
src/engine/proto/rudp/events/BasePacketChekupEvent.cpp -text
src/engine/proto/rudp/events/BasePacketChekupEvent.h -text
src/engine/proto/rudp/packets/AcknowledgeMessage.h -text
src/engine/proto/rudp/packets/AcknowledgeOkMessage.h -text
src/engine/proto/rudp/packets/ConnectionServerMessage.h -text
src/engine/proto/rudp/packets/DisconnectMessage.h -text
src/engine/proto/rudp/packets/ErrorMessage.h -text
src/engine/proto/rudp/packets/LoginServerMessage.h -text
src/engine/proto/rudp/packets/NetStatusRequestMessage.h -text
src/engine/proto/rudp/packets/NetStatusResponseMessage.h -text
src/engine/proto/rudp/packets/OutOfOrderMessage.h -text
src/engine/proto/rudp/packets/PingMessage.h -text
src/engine/proto/rudp/packets/SessionIDRequestMessage.h -text
src/engine/proto/rudp/packets/SessionIDResponseMessage.h -text
src/engine/service/AbstractServiceAcceptor.cpp -text
src/engine/service/AbstractServiceAcceptor.h -text
src/engine/service/DatagramAcceptor.cpp -text
src/engine/service/DatagramAcceptor.h -text
src/engine/service/DatagramConnector.cpp -text
src/engine/service/DatagramConnector.h -text
src/engine/service/DatagramSession.cpp -text
src/engine/service/DatagramSession.h -text
src/engine/service/Message.h -text
src/engine/service/MessageQueue.cpp -text
src/engine/service/MessageQueue.h -text
src/engine/service/ServiceException.h -text
src/engine/service/ServiceProcessThread.cpp -text
src/engine/service/ServiceProcessThread.h -text
src/engine/service/ServiceSession.cpp -text
src/engine/service/ServiceSession.h -text
src/engine/service/ServiceSessionMap.h -text
src/engine/service/ServiceThread.cpp -text
src/engine/service/ServiceThread.h -text
src/engine/service/StreamAcceptor.cpp -text
src/engine/service/StreamAcceptor.h -text
src/engine/service/StreamConnector.cpp -text
src/engine/service/StreamConnector.h -text
src/engine/service/StreamSession.h -text
src/engine/stm/Transaction.cpp -text
src/engine/stm/Transaction.h -text
src/engine/stm/TransactionalMemoryManager.cpp -text
src/engine/stm/TransactionalMemoryManager.h -text
src/engine/stm/TransactionalObject.h -text
src/engine/stm/TransactionalObjectHandle.h -text
src/engine/stm/TransactionalObjectHeader.h -text
src/engine/util/Coordinate.h -text
src/engine/util/ObjectFactory.h -text
src/engine/util/QuadTree.cpp -text
src/engine/util/QuadTree.h -text
src/engine/util/QuadTreeEntry.h -text
src/engine/util/Quaternion.h -text
src/engine/util/ResourcePool.h -text
src/engine/util/Singleton.h -text
src/engine/util/Vector3.h -text
src/engine/util/iffstream/IffStream.cpp -text
src/engine/util/iffstream/IffStream.h -text
src/engine/util/iffstream/chunks/Chunk.cpp -text
src/engine/util/iffstream/chunks/Chunk.h -text
src/engine/util/iffstream/chunks/data/Data.h -text
src/engine/util/iffstream/chunks/form/Form.cpp -text
src/engine/util/iffstream/chunks/form/Form.h -text
src/engine/util/iffstream/exceptions.h -text
src/engine/util/iffstream/exceptions/IffStreamException.h -text
src/engine/util/iffstream/exceptions/InvalidChunkTypeException.h -text
src/engine/util/iffstream/exceptions/InvalidFileTypeException.h -text
src/engine/util/iffstream/exceptions/NoChunksException.h -text
src/engine/util/iffstream/exceptions/NoOpenedChunkException.h -text
src/system/io/BufferedReader.cpp -text
src/system/io/BufferedReader.h -text
src/system/io/File.cpp -text
src/system/io/File.h -text
src/system/io/FileInputStream.h -text
src/system/io/FileNotFoundException.h -text
src/system/io/FileOutputStream.h -text
src/system/io/FileReader.h -text
src/system/io/FileWriter.h -text
src/system/io/IOException.h -text
src/system/io/InputStream.h -text
src/system/io/ObjectInputStream.h -text
src/system/io/ObjectOutputStream.h -text
src/system/io/OutputStream.h -text
src/system/io/PrintStream.cpp -text
src/system/io/PrintStream.h -text
src/system/io/Reader.h -text
src/system/io/Serializable.cpp -text
src/system/io/Serializable.h -text
src/system/io/Stream.cpp -text
src/system/io/Stream.h -text
src/system/io/StreamIndexOutOfBoundsException.h -text
src/system/io/StringTokenizer.cpp -text
src/system/io/StringTokenizer.h -text
src/system/io/UnicodeTokenizer.cpp -text
src/system/io/UnicodeTokenizer.h -text
src/system/io/Writer.h -text
src/system/lang.h -text
src/system/lang/ArrayIndexOutOfBoundsException.cpp -text
src/system/lang/ArrayIndexOutOfBoundsException.h -text
src/system/lang/BaseTypeVariable.h -text
src/system/lang/Bool.h -text
src/system/lang/Byte.h -text
src/system/lang/Character.h -text
src/system/lang/DivisionByZeroException.h -text
src/system/lang/Double.h -text
src/system/lang/Exception.cpp -text
src/system/lang/Exception.h -text
src/system/lang/Float.h -text
src/system/lang/IllegalArgumentException.h -text
src/system/lang/IllegalStateException.h -text
src/system/lang/Integer.cpp -text
src/system/lang/Integer.h -text
src/system/lang/Long.h -text
src/system/lang/Math.cpp -text
src/system/lang/Math.h -text
src/system/lang/NumberFormatException.h -text
src/system/lang/Object.cpp -text
src/system/lang/Object.h -text
src/system/lang/OutOfMemoryError.h -text
src/system/lang/Runnable.h -text
src/system/lang/Short.h -text
src/system/lang/SignalException.h -text
src/system/lang/StackTrace.cpp -text
src/system/lang/StackTrace.h -text
src/system/lang/String.cpp -text
src/system/lang/String.h -text
src/system/lang/StringBuffer.cpp -text
src/system/lang/StringBuffer.h -text
src/system/lang/System.cpp -text
src/system/lang/System.h -text
src/system/lang/Time.h -text
src/system/lang/UnicodeString.cpp -text
src/system/lang/UnicodeString.h -text
src/system/lang/Variable.h -text
src/system/lang/mersenne/MersenneTwister.cpp -text
src/system/lang/mersenne/MersenneTwister.h -text
src/system/lang/ref/Reference.h -text
src/system/lang/ref/ReferenceCounter.h -text
src/system/lang/ref/WeakReference.h -text
src/system/lang/types.cpp -text
src/system/lang/types.h -text
src/system/net/DatagramServerSocket.h -text
src/system/net/DatagramSocket.h -text
src/system/net/InetAddress.cpp -text
src/system/net/InetAddress.h -text
src/system/net/NetworkInterface.cpp -text
src/system/net/NetworkInterface.h -text
src/system/net/Packet.cpp -text
src/system/net/Packet.h -text
src/system/net/PacketIndexOutOfBoundsException.h -text
src/system/net/Socket.h -text
src/system/net/SocketAddress.cpp -text
src/system/net/SocketAddress.h -text
src/system/net/SocketException.h -text
src/system/net/SocketImplementation.cpp -text
src/system/net/SocketImplementation.h -text
src/system/net/StreamServerSocket.h -text
src/system/net/StreamSocket.h -text
src/system/platform.h -text
src/system/thread/Condition.h -text
src/system/thread/Lockable.cpp -text
src/system/thread/Lockable.h -text
src/system/thread/Locker.h -text
src/system/thread/Mutex.cpp -text
src/system/thread/Mutex.h -text
src/system/thread/ReadWriteLock.cpp -text
src/system/thread/ReadWriteLock.h -text
src/system/thread/Thread.cpp -text
src/system/thread/Thread.h -text
src/system/thread/ThreadLocal.h -text
src/system/thread/atomic/AtomicInteger.h -text
src/system/thread/atomic/AtomicLong.h -text
src/system/thread/atomic/AtomicReference.h -text
src/system/util/ArrayQueue.h -text
src/system/util/BinaryHeap.h -text
src/system/util/BinarySearchTree.h -text
src/system/util/HashSet.h -text
src/system/util/HashTable.h -text
src/system/util/Iterator.h -text
src/system/util/LinkedList.h -text
src/system/util/PriorityQueue.cpp -text
src/system/util/PriorityQueue.h -text
src/system/util/SortedVector.h -text
src/system/util/Timer.h -text
src/system/util/Vector.h -text
src/system/util/VectorMap.h -text
